<% cache [current_node] do %>
  <% present(current_node) do |node_presenter| %>
  <div class="row">
    <div class="large-12 columns">
      <h4>
        <span data-tooltip aria-haspopup="true" class="has-tip tip-right" title="These stats include all content in this folder, including subfolders.">Folder Stats <%= image_tag "question.png", class: "question-icon" %></span>
      </h4>
      
      <div class="row">
        <div class="small-6 columns">Folders</div>
        <div class="small-6 columns"><%= node_presenter.folders_count %></div>
      </div>
      <div class="row">
        <div class="small-6 columns">Files</div>
        <div class="small-6 columns"><%= node_presenter.files_count %></div>
      </div>
      <div class="row">
        <div class="small-6 columns">Size</div>
        <div class="small-6 columns"><%= node_presenter.total_space %></div>
      </div>
      <div class="row">
        <div class="small-6 columns">
          <span data-tooltip aria-haspopup="true" class="has-tip tip-right" title="This folder, and subfolders, contains this percentage of your files, by space.">Space Used</span>
        </div>
        <div class="small-6 columns"><%= node_presenter.percentage_space %></div>
      </div>
      <div class="row">
        <div class="small-6 columns">
          <span data-tooltip aria-haspopup="true" class="has-tip tip-right" title="This folder, and subfolders, is contributing this percentage towards your Dropbox quota.">Quota Used</span>
        </div>
        <div class="small-6  columns"><%= node_presenter.quota_percentage %></div>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
