<% add_body_class "internal" %>
<%= javascript_include_tag asset_path("internal.js") %>

<%= render partial: 'layouts/header' %>
<%= render partial: 'stats/breadcrumbs' %>

<div class="row">
  <%= render partial: 'stats/sidebar' %>
  <%= render partial: 'stats/file_list' %>
</div>
