<%= javascript_include_tag "highcharts" %>
<%= javascript_include_tag "pace" %>
<%= javascript_include_tag "internal" %>

<%= render partial: 'layouts/header' %>
<%= render partial: 'stats/breadcrumbs' %>

<div class="row">
  <%= render partial: 'stats/sidebar' %>
  <%= render partial: 'stats/file_list' %>
</div>
