<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Schrodinger" %></title>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", debug: (Rails.env.development? || Rails.env.test?) %>
  <%= stylesheet_link_tag "pace" if current_user.present? %>
  <%= render partial: 'layouts/fonts' %>

  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "pace" %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag "application" %>
<script src="http://code.highcharts.com/highcharts.js"></script>
<%= javascript_include_tag "internal" if current_user.present? %>
</body>
</html>
