<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Droplytics" %></title>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", debug: (Rails.env.development? || Rails.env.test?) %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= render partial: 'layouts/fonts' %>
</head>
<body>

<%= render partial: 'layouts/header' %>
<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
